{% block episodes %}

        {% if rssConfig.dateFormat %}
            {% set dateFormat = rssConfig.dateFormat %}
        {% else %}
            {% set dateFormat = 'Y-m-d' %}
        {% endif %}

        {% if episodes %}
            {% for episode in episodes %}
                <div class="row episode">
                    <div class="twelve column episode-date">
                        <span>{{ episode.pubDate|date(dateFormat) }}</span>
                    </div>
                    <div class="row">
                        <div class="one-half column episode-title">
                            <h2>{{ episode.title }}</h2> <br>
                        </div>
                        <div class="one-half column">
                            <p>{{ episode.content|striptags('<a>')|raw }}</p>
                            <div class="episode-audio fade-in">
                                <audio controls
                                       preload="none">
                                    <source src="{{ episode.url }}"
                                            type="audio/mpeg">
                                </audio>
                            </div>
                            <p>Podcast: <a href="{{ episode.url }}" download>Download</a> ({{ episode.duration }} min
                                | {{ episode.filesize|round(1, 'floor') }} MB)</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% block loader %}{% endblock %}
        {% else %}
            {{ rssConfig.noResults }}
        {% endif %}
{% endblock %}

{% block pagination %}
    {{ include('rss_feed/loader/_pagination.html.twig', {pageConfig: pageConfig}) }}
{% endblock %}
