{% block episodes %}
    <div class="container">
        {% if rssConfig.dateFormat %}
            {% set dateFormat = rssConfig.dateFormat %}
        {% else %}
            {% set dateFormat = 'Y-m-d' %}
        {% endif %}

        {% if episodes %}
            {% for episode in episodes %}
                <div class="row episode">
                    <div class="twelve column episode-date">
                        <span>{{ episode.pubDate|date(dateFormat) }}</span>
                    </div>
                    <div class="row">
                        <div class="one-half column episode-title">
                            <h2>{{ episode.title }}</h2> <br>
                        </div>
                        <div class="one-half column">
                            <p>{{ episode.description|striptags('<a>')|raw }}</p>
                            <div class="episode-audio fade-in">
                                <audio controls
                                       preload="none">
                                    <source src="{{ episode.url }}"
                                            type="audio/mpeg">
                                </audio>
                            </div>
                            <p>Podcast: <a href="{{ episode.url }}" download>Download</a> ({{ episode.duration }} min
                                | {{ episode.filesize|round(1, 'floor') }} MB)</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <script>
                let audioPlayers = document.querySelectorAll('.episode-audio');
                audioPlayers.forEach(audioPlayer => {
                    audioPlayer.setAttribute('class', 'gap');
                    // Remove controls from audio element
                    audioPlayer.getElementsByTagName('audio')[0].removeAttribute('controls');
                });
                // Init Green Audio Player on all .gap elements
                GreenAudioPlayer.init({
                    selector: '.gap',
                    stopOthersOnPlay: true
                });
            </script>
        {% else %}
            {{ rssConfig.noResults }}
        {% endif %}
    </div>
{% endblock %}

{% block pagination %}
    {{ include('rss_feed/_pagination.html.twig', {pageConfig: pageConfig}) }}
{% endblock %}
