{% block items %}
    <div class="container">
        {% if rssConfig.dateFormat %}
            {% set dateFormat = rssConfig.dateFormat %}
        {% else %}
            {% set dateFormat = 'Y-m-d' %}
        {% endif %}

        {% if items %}
            {% for row in items|batch(3) %}
                <div class="row">
                    {% for item in row %}
                        <div class="one-third column">
                            <div class="item-date">
                                <span>{{ item.pubDate|date(dateFormat) }}</span>
                            </div>
                            <div class="item-title">
                                <a href="{{ item.link }}">
                                    <h2>{{ item.title }}</h2>
                                </a>
                                <p class="item-description">
                                    {{ item.description|striptags('<a>')|raw }}
                                </p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        {% else %}
            {{ rssConfig.noResults }}
        {% endif %}
    </div>
{% endblock %}

{% block pagination %}
    {{ include('rss_feed/loader/_pagination.html.twig', {pageConfig: pageConfig}) }}
{% endblock %}
