{# based on: https://gist.github.com/SimonSimCity/4594748 #}
<div class="container">


    {% if pageConfig.maxPages > 1 %}

        {# the number of first and last pages to be displayed #}
        {% set extremePagesLimit = 1 %}

        {# the number of pages that are displayed around the active page #}
        {% if pageConfig.page == 1 or pageConfig.page ==  pageConfig.maxPages %}
            {% set nearbyPagesLimit = 2 %}
        {% else %}
            {% set nearbyPagesLimit = 1 %}
        {% endif %}

        {% set pageBack = pageConfig.page - 1 %}
        {% set pageNext = pageConfig.page + 1 %}

        {% if currentFilters is not defined %}{% set currentFilters = {} %}{% endif %}
        {% if paginationPath is not defined %}{% set paginationPath = app.request.attributes.get('_route') %}{% endif %}

        <div class="row">
            <div class="twelve column center">
                <div class="pagination center">
                    {% if pageConfig.page > 1 %}
                        <a hx-get="?page={{ pageBack }}#Top"
                           hx-target="#feed-content"
                           hx-push-url="true"
                                {{ pageConfig.page != 1 ? 'href=?page=' ~ pageBack : 'class="pagination-disabled"' }}>&laquo;</a>

                        {% for i in range(1, extremePagesLimit) %}
                            {% if ( i < pageConfig.page - nearbyPagesLimit ) %}
                                <a hx-get="?page={{ i }}#Top"
                                   hx-target="#feed-content"
                                   hx-push-url="true"
                                        {{ i != 1 ? 'class="mobile-hide"' }}
                                        href="{{ path(paginationPath, currentFilters|merge({page: i})) }}">{{ i }}
                                </a>
                            {% endif %}
                        {% endfor %}

                        {% if extremePagesLimit + 1 < pageConfig.page - nearbyPagesLimit %}
                            <a class="sep-dots pagination-disabled">...</a>
                        {% endif %}

                        {% for i in range(pageConfig.page-nearbyPagesLimit, pageConfig.page-1) %}
                            {% if ( i > 0 ) %}
                                <a hx-get="?page={{ i }}#Top"
                                   hx-target="#feed-content"
                                   hx-push-url="true"
                                        {{ i != 1 ? 'class="mobile-hide"' }}
                                        href="{{ path(paginationPath, currentFilters|merge({page: i})) }}">{{ i }}</a>
                            {% endif %}
                        {% endfor %}
                    {% endif %}

                    <a hx-get="?page={{ pageConfig.page }}#Top"
                       hx-target="#feed-content"
                       hx-push-url="true"
                       class="active"
                       href="{{ path(paginationPath, currentFilters|merge({ page: pageConfig.page })) }}">{{ pageConfig.page }}</a>

                    {% if pageConfig.page < pageConfig.maxPages %}
                        {% for i in range(pageConfig.page+1, pageConfig.page + nearbyPagesLimit) %}
                            {% if ( i <= pageConfig.maxPages ) %}
                                <a hx-get="?page={{ i }}#Top"
                                   hx-target="#feed-content"
                                   hx-push-url="true"
                                        {{ i != pageConfig.maxPages ? 'class="mobile-hide"' }}
                                        href="{{ path(paginationPath, currentFilters|merge({page: i})) }}">{{ i }}</a>
                            {% endif %}
                        {% endfor %}

                        {% if  (pageConfig.maxPages - extremePagesLimit) > (pageConfig.page + nearbyPagesLimit) %}
                            <a class="sep-dots pagination-disabled">...</a>
                        {% endif %}

                        {% if pageConfig.page == pageConfig.maxPages %}

                        {% endif %}

                        {% for i in range(pageConfig.maxPages - extremePagesLimit+1, pageConfig.maxPages) %}
                            {% if ( i > pageConfig.page + nearbyPagesLimit ) %}
                                <a hx-get="?page={{ i }}#Top"
                                   hx-target="#feed-content"
                                   hx-push-url="true"
                                        {{ i != pageConfig.maxPages ? 'class="mobile-hide"' }}
                                        href="{{ path(paginationPath, currentFilters|merge({page: i})) }}">{{ i }}</a>
                            {% endif %}
                        {% endfor %}

                        <a hx-get="?page={{ pageNext }}#Top"
                           hx-target="#feed-content"
                           hx-push-url="true"
                                {{ pageConfig.page != pageConfig.maxPages ? 'href=?page=' ~ pageNext : 'class="pagination-disabled"' }}>&raquo;</a>

                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}

</div>
